.input-wrpr{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input-wrpr .label-d-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.input-wrpr .label-d-input .label{
    display: flex;
    margin-right: 12px;
}
.input-wrpr .label-d-input .input{
    width: 100%;
    min-height: 26px;
    padding-inline: 6px;
    padding-block: 2px;
    border: 1px solid black;
}
.input-wrpr .error-msg{
    display: flex;
    align-items: center;
    width: 100%;
}
.input-wrpr .error-msg .msg-txt{
    display: flex;
    width: 100%;
    color: red;
    font-size: 12px;
}
.input-wrpr .label-d-input.error .input{
    border-color: red;
}