.search-field-wrpr{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.search-field-wrpr .input-wrpr{
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.search-field-wrpr .search-bar{
    border: none;
    outline: none;
    background-color: transparent; 
    height: 100%;
    padding: 2px 4px;
}
.search-field-wrpr .search-icon , .search-field .cancel-icon{
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
}
.search-field-wrpr .result-menu-wrpr{
    /* display: flex; */
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(100%);
    justify-content: center;
    width: 100%;
    display: none;
}
.search-field-wrpr.active .result-menu-wrpr{
    display: flex;
    padding-top: 6px;
}
.search-field-wrpr .result-menu-wrpr .results-menu{
    width: 100%;
    display: block;
    background-color: gray;
    border: 0.5px solid black;
    min-height: 30px;
}
.search-field-wrpr.active .search-icon{
    display: none;
}
.search-field-wrpr.active .cancel-icon{
    display: block;
}
