
.card-wrpr{
    display: flex;
    flex-direction: column;
    color: var(--dark);
    padding: 8px;
    padding-block: 12px;
    position: relative;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-inline: 8px;
    border: 1px solid rgb(232, 232, 232);
}
.card-wrpr:hover{
    box-shadow: 0px 0px 8px rgb(184, 184, 184);
}
.card-wrpr .img-wrpr{
    width: auto;
    height: 200px;
    aspect-ratio: 1/1 ;
    display: flex;
    position: relative;
    
}
.card-wrpr .img-wrpr .link-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-wrpr .img-wrpr .link-img img{
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain;
    /* border-radius: 4px; */
}

.card-wrpr .info-wrpr{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 220px;
}
.card-wrpr .info-wrpr .name{
    padding-block: 8px;
    width: 100%;
}
.card-wrpr .info-wrpr .name .link-name{ 
    width: 100%;
}
.card-wrpr .info-wrpr .name .link-name .txt{ 
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-wrpr .info-wrpr .name:hover .link-name .txt{ 
    text-decoration: underline;
}
.card-wrpr .info-wrpr  .price{ 
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
}
.card-wrpr .info-wrpr .cur-price{
    font-weight: 600;
}
.card-wrpr .info-wrpr .old-price .txt{ 
    text-decoration: line-through;
}
a{
    color: inherit;
}
.card-wrpr .discount{
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: rgb(255, 172, 172);
    padding:2px 4px;
    border-radius: 4px;
    font-size: 13px;
}
.card-wrpr .links{
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    font-size: 18px;
    display: grid;
    grid-template-rows: repeat(3 , 1fr);
    row-gap: 8px;
    display: none;
    width: 36px;
    border-radius: 4px;
    background-color: var(--gray);
}
.card-wrpr:hover .links{
    display: grid;
}
.card-wrpr .links .link{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 8px;
   width: 100%;
}   
.card-wrpr .links .link:hover{
    /* opacity: 1; */
    background-color: #e6e6e6;
}   