/* ----------------------------------- */
/* ----------------------------------- */
/* header Layout styling*/
header.header{
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 998;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
}
header.header > .container--header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ----------------------------------- */
/* ----------------------------------- */
/* TOP HEADER STYLING */
.top-header{
    width: 100%;
    height: 36px;
    background-color: red;
}
.top-header .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

/* Store Links */
.store-links{
    display: flex;
    align-items: center;
}
.store-links .link{
    padding-inline: 12px;
    color: inherit;
}
.store-links .separator{
    height: 20px;
    width: 0.5px;
    background-color: rgba(255, 255, 255, 0.7);
}
.store-links .social-media{
    display: flex;
    align-items: center;
    margin-left: 12px;
}
.store-links .social-media .link{
    padding-inline: 6px;
    display: flex;
    align-items: center;
}
.store-links .social-media .link .icon{
    font-size:18px;
}


/* ----------------------------------- */
/* ----------------------------------- */
/* MAIN HEADER STYLING */
.main-header{
    width: 100%;
    height: calc(100% - 36px);
}
.main-header .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
}

/* header categories */
.categories{
    margin-left: 5%;
}
.categories > .links-wrapper-big{
    display: flex;
    align-items: center;
}
.categories > .links-wrapper-small{
    display: none;
}
.categories > .links-wrapper-small .drop-btn{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f3f3f3;
    padding: 0 12px;
    height: 30px;
    border-radius: 6px;
}
.categories > .links-wrapper-small .drop-btn .icon{
    margin-left: auto;
}
.categories > .links-wrapper-big .link {
    padding-inline: 12px;
    color: inherit;
}
.categories > .links-wrapper-big .separator {
    width: 0.5px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.18);
}
.categories > .links-wrapper-big .separator:last-of-type{
    display: none;
}

/* header dropdown actions */
.dropdown-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.dropdown-actions .elem:not(:first-child){
    margin-left: 18px;
}
.dropdown-actions .elem .link{
    color: inherit;
    display: flex;
    align-items: center;
    padding-inline: 6px;
    font-size: 24px;
}
/* Header search field */
.search-field.header-search-field.active .input-wrapper{
    min-height: var(--header-height);
}
.search-field.header-search-field .input-wrapper{
    height: 30px;
}
.search-field.header-search-field.active .input-wrapper{
    height: 45px;
    background-color: #f3f3f3;
    border: none;
}
.search-field.header-search-field .search-bar{
    width: 15vw;
}
.search-field.header-search-field.active .search-bar{
    font-size: 16px;
}
.search-field.header-search-field .search-icon{
    font-size: 24px;
}
.search-field.header-search-field .cancel-icon{
    font-size: 24px;
    display: none;
}
.search-field.header-search-field.active .search-icon{
    font-size: 28px;
}
.search-field.header-search-field.active .cancel-icon{
    font-size: 28px;
    display: none;
}
.search-field.header-search-field.active .search-icon{
    display: none;
}
.search-field.header-search-field.active .cancel-icon{
    display: block;
}

/* header phone menu */
.phone-menu{
    display: none;
}

/* header logo */
.logo > .link-img > .icon > img{
    max-height:48px;
}



@media (max-width:1200px) {
    /* header dropdown actions */
    .search-field.header-search-field .search-bar{
        width: 140px;
    }
    .search-field.header-search-field .search-icon{
        font-size: 20px;
    }
    .search-field.header-search-field .cancel-icon{
        font-size: 20px;
    }
    .dropdown-actions .elem:not(:first-child){
        margin-left: 12px;
    }
    .dropdown-actions .elem .link{
        font-size: 20px;
    }
    
    /* header categories */
    .categories > .links-wrapper-big .link {
        padding-inline: 8px;
        font-size: 14px;
    }
    /* header logo */
    .logo > .link-img > .icon > img{
        max-height:40px;
    }
}
@media (max-width:1024px) {
    
    /* header categories */
    .categories > .links-wrapper-big{
        display: none;
        align-items: center;
    }
    .categories > .links-wrapper-small{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 210px;
    }
    /* header dropdown actions */
    .dropdown-actions > .header-search-field .search-bar{
        width: 185px;
    }
    .dropdown-actions > .header-search-field .input-wrapper{
        background-color: transparent;
    }
}
@media (max-width:770px) {
    /* TOP HEADER */
    .top-header .container{
        font-size: 12px;
    }
    .top-header .container .links{
        margin-left: auto;
    }
    .top-header .container .links .link{
        padding-inline: 8px;
    }
    .top-header .container .links .separator{
        height: 18px;
    }
    .top-header .container .hero--h{
        display: none;
    }
    /* header categories */
    .categories > .links-wrapper-small{
        display: none;
    }
    /* header phone menu */
    .phone-menu{
        display: flex;
        margin-right: 24px;
    }
    .phone-menu .menu-btn{
        font-size: 24px;
    }
    /* header dropdown actions */
    .search-field.header-search-field .search-bar{
        width: 100px;
    }
    .search-field.header-search-field .search-icon{
        font-size: 24px;
    }
    .search-field.header-search-field .cancel-icon{
        font-size: 24px;
    }
    .dropdown-actions .elem .link{
        font-size: 24px;
    }
    /* header logo */
    .logo > .link-img > .icon > img{
        max-height:44px;
    }
}
@media (max-width:480px) {
    /* header phone menu */
    .phone-menu{
        margin-right: 18px;
    }
    .phone-menu .menu-btn{
        font-size: 26px;
    }
    /* header dropdown actions */
    .dropdown-actions .elem:not(:first-child){
        margin-left: 6px;
    }
    .search-field.header-search-field.notactive .input-wrapper{
        border: none;
    }
    .search-field.header-search-field.notactive .search-bar{
        width: 1px;
    }
    .search-field.header-search-field .search-icon{
        font-size: 26px;
    }
    .search-field.header-search-field .cancel-icon{
        font-size: 26px;
    }
    .dropdown-actions .elem .link{
        font-size: 26px;
    }
    /* header logo */
    .logo > .link-img > .icon > img{
        max-height:40px;
    }
}
@media (max-width:350px) {
    /* header dropdown actions */
    .dropdown-actions .elem.fav{
        display: none;
    }
}