@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'poppins' , sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --header-height:120px;
    --padding: 30px
}

header.header > .container--header{
    height: var(--header-height);
}
.inline-p{
    padding-inline: var(--padding);
}
#page-layout{
    margin-top: var(--header-height);
    padding-block: 36px;
    min-height: 120vh;
}

@media (max-width:770px) {
    :root{
        --padding: 24px
    }
}
@media (max-width:480px) {
    :root{
        --padding: 12px
    }
}