
.link-dd{
    position: relative;
}
.link-dd-btn{
    color: inherit;
    display: flex;
    align-items: center;
    padding-inline: 6px;
    font-size: 24px;
    cursor: pointer;
    position: relative;
}
.link-dd-btn > .qte{
    width: 16px;
    height: 16px;
    font-size: 10px;
    font-weight: 500;
    border-radius: 100%;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -6px;
    right: -2px;
}
.link-dd-menu-wrpr{
    position: absolute;
    bottom: 0px;
    right: 0;
    transform: translateY(100%);
    min-width: 150px;
    padding-top: 12px;
    z-index: 999;
    background-color: antiquewhite;
}