
.link-dd{
    position: relative;
}
.link-dd-btn{
    color: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.link-dd-btn > .qte{ 
    width: 10px;
    height: 10px;
    font-size: 8px;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    aspect-ratio: 2/2;
}
.link-dd-menu-wrpr{
    position: absolute;
    bottom: 0px;
    right: 0;
    transform: translateY(100%);
    min-width: 50px;
    padding-top: 6px;
    z-index: 999;
}